#home, #languages {
  max-width: 700px;
  margin: auto; }

#projects {
  max-width: 850px;
  margin: auto;
}

body {
  background-color: #f9f7f7;
  color: #112d4e;
  padding: 20px }

#head {
  text-align: center; }

#home {
  margin-top: 10px; }

#profile-image {
  width: 230px;
  margin-bottom: 10px; }

.list-group-mine .list-group-item:hover {
  background-color: #dbe2ef; }

.heading-mine {
  padding-top: 10px;
  padding-bottom: 10px; }
