main {
    margin-top: 25px;
    padding-bottom: 20px;
}

footer {
    padding-bottom: 20px;
}

.myFeature {
    margin-top: 30px;
}

mySubtitle {
    font-family: "Gravity-Regular";
}

.myLink {
    text-decoration: none;
    color: #212529;
    position: relative;
}

/* mouse over link */
.myLink:hover {
  color: #212529;
  text-decoration: none;
}

.myLink:after {
content: '';
position: absolute;
z-index: -1;
top: 60%;
left: -0.1em;
right: -0.1em;
bottom: 0;
transition: top 200ms cubic-bezier(0, 0.8, 0.13, 1);
background-color: rgba(79, 192, 141, 0.5);
}

.myLink:hover:after {
top: 0%;
}